<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VOLC_ACCESS_TOKEN</key>
	<string>$(VOLC_ACCESS_TOKEN)</string>
	<key>VOLC_APP_ID</key>
	<string>$(VOLC_APP_ID)</string>
	<key>VOLC_APP_KEY</key>
	<string>$(VOLC_APP_KEY)</string>
	<key>VOLC_TTS_VOICE_TYPE</key>
	<string>$(VOLC_TTS_VOICE_TYPE)</string>
	<key>VOLC_TTS_SPEECH_RATE</key>
	<string>$(VOLC_TTS_SPEECH_RATE)</string>
	<key>VOLC_TTS_LOUDNESS_RATE</key>
	<string>$(VOLC_TTS_LOUDNESS_RATE)</string>
	<key>VOLC_TTS_EMOTION</key>
	<string>$(VOLC_TTS_EMOTION)</string>
</dict>
</plist>
